body {
    background-color: rgba(243,193,157,255);
}
.navbar {
    background-color: rgba(255,255,255,255);
}
.top-buffer {
    margin-top: 40px;
}
.carousel {
    width: 600px;
    height: 500px;
}
.carousel-item>img {
    height: 500px;
    width: 500px;
}