body {
    /* background-color: rgba(243,193,157,255); */
    background-image: url("https://img.freepik.com/premium-vector/fried-crispy-chicken-legs-seamless-pattern-cartoon-fast-food-drumsticks-isolated-cooking-texture-flat-vector-illustration_502272-681.jpg");
}
.navbar {
    background-color: rgba(255,255,255,255);
}
.top-buffer {
    margin-top: 40px;
}
#recipe-box {
    background-color: rgba(247,242,239,255);
}
#picture {
    width: 500px;
    height: 500px;
    border: 5px solid rgb(136, 109, 19);
}
#recipe_name, #creator {
    text-align: center;
}