body {
    background-color: rgba(251, 225, 146, 255);
    display: flex;
    flex-direction: column;
}

img {
    width: 200px;
    height: 200px;
}

hr {
    width: 50%
}

.navbar {
    background-color: rgba(231, 228, 223, 255);
}

.border-box {
    border-width: 3px;
    border-style: solid;
    border-color: black;
    background-color: white;
    justify-content: center;
    width: 500px;
}

.heading {
    justify-content: center;
}

.sidebar-heading {
    justify-content: center
}

#sidebar-wrapper {
    flex-grow: 1;
    min-width: 20%;
}

#preferences-list {
    padding-left: 3em;
}

#page-content {
    padding-left: 5em;
    max-width: 100%;
}

#page-content-wrapper {
    min-width: 80%;
    height: 700px;
}