.navbar{
    background-color: rgba(243,193,157,255);
    /* background-color: rgba(255,255,255,255); */
    position:relative;
    height: 50px;
}
.fa-user{
    position: absolute;
    top: 20px;
    height: 50px;
    width: 50px;
    left: 30px;
}
.fa-gear{
    position: absolute;
    top: 20px;
    height: 50px;
    width: 50px;
    right: 0px;
}
.fa-check{
    position: absolute;
    top: 20px;
    height: 100px;
    width: 10px;
    left: 500px;
}
.fa-xmark{
    position: absolute;
    top: 20px;
    height: 50px;
    width: 50px;
    right: 500px;
}
.fa-clock{
    position: relative;
    top: 50px;
    height: 50px;
    width: 50px;
    left: 20px;
}
.fa-comment{
    position: absolute;
    top: 20px;
    height: 50px;
    width: 50px;
    right: 700px;
}
p{
    position: relative;
    top: 60px;
    padding-left: 40px;
  }
  
.plen::before{
    font-family: FontAwesome;
    content: "\f017";
    position: absolute;
    left: 10px;
}
.pspice::before{
    font-family: FontAwesome;
    content: "\f816";
    position: absolute;
    left: 10px;
}
.pveg::before{
    font-family: FontAwesome;
    content: "\f787";
    position: absolute;
    left: 10px;
}
meter::-webkit-meter-optimum-value {
    background: red;
}
meter{
    transform: rotate(270deg);
    background-color: red;
    width: 300px;
    height: 30px;
}
.lyum{
    padding-left: 40px;
}
.lyum::before{
    font-family: FontAwesome;
    content: "\f6d7";
    position: absolute;
    left: 20px;
}
.com::before{
    font-family: FontAwesome;
    content: "\f007";
    position: absolute;
    left: 10px;
}
.imrow{
    height: 570px;
}
.col-2{
    border: 1px solid #000000;
    height: 770px;
}
.imcol{
    border: 1px solid #000000;
    height: 570px;
    background-image: url(../images/food1.jpeg);
    background-size: cover;
}
.col-4{
    border: 1px solid #000000;
    height: 770px;
}
#comment{
    bottom: 20px;
}